<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'restaurants'}}active{{/ifCond}}" href="/manage/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'categories'}}active{{/ifCond}}" href="/manage/categories">Categories</a>
  </li>
</ul>